.App {
  height: 100vh;
  width: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
  color: white;
  background: cornflowerblue;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

img {
  display: block;
  width: 90%;
  height: auto;
}

.flex-element-container {
  width: 50%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

#editor {
  display: block;
  width: 85%;
  height: 100%;
  padding: 1rem;
  margin: 50px auto;
}

#preview {
  width: 85%;
  height: 100%;
  padding: 1rem;
  background: white;
  margin: 50px auto;
  color: black;
  overflow: auto;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .flex-element-container {
    width: 90%;
    height: 70%;
    margin: 0px auto 100px auto;
  }
  #editor,
  #preview {
    margin: 0px auto;
  }
}

@media (max-width: 560px) {
  body {
    font-size: 0.8rem;
  }
}
